# Exclude Python virtual environment
.venv/

# Ignore Python junk
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore OS-specific files
.DS_Store

# Optional: ignore data or output files
*.csv
*.xlsx
*.logQ